<div class="nav-wrapper">
    <ul>
        <li><a href="index.html"><i class="fas fa-home"></i><span class="nav-text">Home</span></a></li>
        <li><a href="segyrecover.html"><i class="fas fa-chart-line"></i><span class="nav-text">SEGYRecover</span></a></li>
        <li><a href="velrecover.html"><i class="fas fa-tachometer-alt"></i><span class="nav-text">VELRecover</span></a></li>
        <li><a href="inseis.html"><i class="fas fa-layer-group"></i><span class="nav-text">InSeis</span></a></li>
        <li><a href="integration.html"><i class="fas fa-project-diagram"></i><span class="nav-text">Integration</span></a></li>
        <li><a href="faq.html"><i class="fas fa-question-circle"></i><span class="nav-text">FAQ</span></a></li>
        <li><a href="troubleshooting.html"><i class="fas fa-wrench"></i><span class="nav-text">Troubleshooting</span></a></li>
        <li><a href="references.html"><i class="fas fa-book"></i><span class="nav-text">References</span></a></li>
    </ul>
</div>
